/* CAROUSEL */
#carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.carousel-image {
  aspect-ratio: 16 / 9; 
  filter:brightness(60%);
  object-fit:cover;
}
.carousel-header {
  font-size: clamp(150%, 2.7vw, 3vw);
}
.carousel-subtitle {
  font-size: clamp(100%, 1.7vw, 2vw);
}
/* REVIEW ARTICLE */
#review-article {
  position: relative; /* TOGLIERE QUESTA RIGA PER ESTENDERE LO SFONDO ANCHE ALLA NAVBAR TOGLIENDO IL BIANCO E RENDENDOLA TRASPARENTE*/
  color: white;
  padding-bottom: 10vh;
}
.reviews-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(src/home-page/DSC03998\ copia.jpg);
  background-size: cover;
  filter: brightness(65%);
  z-index: -1;
}
.responsive-card {
  width: 18rem;
  margin-bottom: 20px;
}
