@font-face {
  font-family: inter;
  src: url(src/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face{
  font-family: ser;
  src: url(src/fonts/DMSerifDisplay-Regular.ttf);
}
@font-face{
  font-family: borel;
  src: url(src/fonts/Borel-Regular.ttf);
}
@font-face{
  font-family: salsa;
  src: url(src/fonts/Salsa-Regular.ttf);
}
@font-face{
  font-family: indie;
  src: url(src/fonts/IndieFlower-Regular.ttf);
}
.inter{font-family: inter;}
.ser{font-family: ser; }
.borel{font-family: borel;}
.salsa{font-family: salsa;}

body{
  font-family: inter;
}

.nopad{padding:0;}
.nomargin{padding:0;}

.bg-container{
  position: relative; /* TOGLIERE QUESTA RIGA PER ESTENDERE LO SFONDO ANCHE ALLA NAVBAR TOGLIENDO IL BIANCO E RENDENDOLA TRASPARENTE*/
  color: white;
}

.big-background {
  position:absolute;
  top:0; left:0; right:0; bottom:0;
  background-image: url("src/contacts/DSC04028\ copia.jpg");
  background-size: cover;
  filter:brightness(60%);
  background-position: center;
  z-index: -1;
  /*filter: brightness(
    70%
    ); /* Adjust the brightness to make it slightly darker */
  /*filter: blur(2px); /* Add blur effect */
  /* opacity: 0.7; /* Adjust the opacity to make it slightly darker */
}

.main-line{
  opacity: 100%;
  background-color: white;
  border:none;
  height: 3px;
  width: clamp(10vw, 15vw, 25vw);
  margin:auto;
}

.unselectable {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.default-footer {
  background-color: #333;
  color: grey;
  display: flex;
  justify-content: center;
  padding: 5px;

  position: absolute; /* Fissa il footer in fondo alla pagina */
  bottom: -99999; /* Posiziona il footer in fondo alla pagina */
  width: 100%; /* Larghezza del footer */
}
