@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-green-50;
}

::selection {
  background: green;
  color: white;
}

@font-face {
  font-family: satisfy;
  src: url("/fonts/Satisfy/Satisfy-Regular.ttf");
}
.satisfy {
  font-family: satisfy;
}

@font-face {
  font-family: arima;
  src: url("/fonts/Arima/Arima-VariableFont.ttf");
}
.arima{
  font-family: arima;
}

.social-bg {
  background-image: url(/icons/circle2.png);
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

.brightness-60{
  filter: brightness(0.6);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.review-bg {
  background-image: url(/images/site-assets/leaves-blur.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery-bg {
  background-image: url(/images/bg15.webp);
  background-repeat: no-repeat;
  background-size: cover;

}

.loading-bg{
  background-image: url("/icons/loading.gif");
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: center;
}

.bg-slide0{
  background-image: url("/images/bg27.webp");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-slide1{
  background-image: url("/images/bg7.webp");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.bg-slide2{
  background-image: url("/images/bg8.webp"); /* previously bg9.webp */

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

